lmp_data
submit.sh
out.lammps
log.lammps
*.lammps
exclude-list
*.txt
*.png
*.svg
epsilon*
rate*
Nx*

# assignment 1
assignment1/*data 
assignment1/*.dat
assignment1/with_bonds/

# assignment 3



# report
